.root {
    background: #e7e6e6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 50px;
    }
    &__account_logo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: red;
    }
}
