.root {
    padding: 0 40px;
    line-height: 40px;
    color: #fff;
    background: #573b8a;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
